.teamMember{
    width: 80vw;
    height: 60vh;
}

.teamMember img{
    margin: 35px;
    height: 20rem;
    width: 20rem;
    border: 2px solid black;
    border-radius: 50%;
}

.main_team{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-we {
    margin-top: 50px;
  }
  
  .about-we img {
    height: 80%;
    width: 80%;
    margin-left: 150px;
  }
  .about-us {
    width: 70%;
    height: 400px;
    display: flex;
    padding: 1rem;
    justify-content: center;
  
    gap: 30px;
  
    transform: translateX(20%);
  }
  .about-us h1 {
    width: 35%;
  }
  .about-us p {
    width: 65%;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .featured-container h1 {
    text-align: center;
  }
  .steps-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 20px;
  }
  
  .step {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-left:6px solid green;
    width: 300px;
  
    padding: 20px;
    text-align: center;
    position: relative;
  }
  .step.left {
    transform: translateX(-60%);
  }
  .step.right {
    transform: translateX(60%);
  }
  
  .step-header {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #4caf50;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
  }
  
  .step h3 {
    color: #333;
    margin: 20px 0 10px;
  }
  
  .step p {
    color: #666;
    font-size: 14px;
  }
  .image-container {
    position: relative;
    display: inline-block;
  }

  .image-container img {
    display: block;
    width: 300px;
    height: auto;
  }

  .hover-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 700;
    color: black;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .image-container:hover .hover-text {
    opacity: 1;
  }
