*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    overflow-x: hidden;
  }
  
.storemain{
    min-height: 30vh;
    background-color:#f6f6f6;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translate(0%,20%); */
    margin-top: 50px;
    flex-direction: column;
}

.storemain span a{
    text-decoration: none;
    color:#707070;
    font-weight: 700;
    font-size: 20px;
}

.storemain span a:hover{
    color: green;
}

.storemain span{
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.sidebar{
    height: 50vh;
    width: 20vw;
    margin-top: 10px;
    transform: translateX(25%);
}
.search-bar {
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.search-bar input {
    width: 100%;
    padding: 8px 35px 8px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
}

.search-bar .clear-btn {
    position: absolute;
    right: 35px;
    cursor: pointer;
    color: #888;
    font-size: 18px;
    user-select: none;
    line-height: 1;
    margin-right: 8px;
}

.search-bar .clear-btn:hover {
    color: #000;
}

.search-bar .search-btn {
    position: absolute;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
}

.search-bar .search-btn:hover {
    color: #000;
}
.categories{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.categories span{
    text-decoration: none;
    margin-top: 20px;
    color: #707070;
    cursor: pointer;
}
.categories a:hover{
    color: green;
}
.categories h1{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 17px;
}
.price h1{
    margin-top: 40px;
   text-transform: uppercase;
   font-size: 19px;
}
.price #only{
    position: relative;
    left: 50%;
   font-weight: bold;
} 
.aside{
    width: 80vw;
    min-height: 75vh;
    display: flex;
}

.aside .right_aside{
    position:relative;
    width: 100%;
    left:150px
}

.aside .right_aside .top{
    height: 9vh;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    color: #707070;
}
.aside .right_aside .top select{
   width: 13vw;
   padding: 7px;
   outline: none;
}

.aside .right_aside .top .left button{
    margin-right: 35px;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease
}
.aside .right_aside .top .left{
    position: relative;
}

.aside .right_aside .top .left .reset{
    position: absolute;
    top:20px;
    left: 0px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease
}

.aside .right_aside .top .left button:hover {
    transform: scale(1.5);
}
.aside .right_aside .top .left button:hover + .reset{
    opacity: 1;
}
